*{
	margin: 0;
	padding: 0;
	font-family: livvic;
 }
 .bg{
	background: url(../wallpaper.jpg) no-repeat center fixed;
	height: 100%;
	background-size: cover;
	background-position: center;
}
.navbar{
overflow: hidden;
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; 
}
.SDCArtLogo{ /* aligning the logo with the navbar */
    float: left;
    width: 250px;
	height: auto;
}
nav{
    float: left;
}
ul{
	float:right;
	position: relative;
	list-style-type: none;
	margin-top: 20px;
}
ul li{
	display:inline-block;
	margin-left: 50px;
}
ul li a{
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	border: 1px solid #fff;
}
.page{
	margin-top:21.5vh; /* moving all the subjects to stay below the header*/
	height:fit-content;
}
.pagecontent{
	position:relative;
}
section{
position:relative;
}	
footer{
	background-color: #333; /* changing background color to match header*/
	bottom:0;
	width:100%;
	position:absolute;
	
}
/* styles for Mobile Layout */
/* Tablet Styles */
@media screen and (max-width: 768px) {
	.SDCArtLogo{ /* aligning the logo with the navbar */
    top:0;
    position:absolute;
    width:100%;
    height:100%;
}
.navbar{
overflow: hidden;
  background-color: #333;
  position: absolute; /* Set the navbar to fixed position */
  top: 0%; /* Position the navbar at the top of the page */
  width: 100%;
  height:18%;
}
nav{
	top:75%;
    position:absolute;
    width:82%;
}
.DCS{
    width:80%;
}
	 .bg{
	background: url(../wallpaper.jpg) no-repeat center fixed;
	height: 100vh;
	background-size: cover;
	background-position: center;
}
.page{
	margin-top: 17.5vh;
	height:fit-content; /* moving all the subjects to stay below the header*/
}
footer{
	background-color: #333;
	position:fixed;
	bottom:0;
	width:100%;
}
}
/*Smartphone Styles */
@media screen and (max-width: 411px){
	.SDCArtLogo{ /* aligning the logo with the navbar */
    top:0;
    position:absolute;
    width:100%;
    height:100%;
}
.navbar{
overflow: hidden;
  background-color: #333;
  position: absolute; /* Set the navbar to fixed position */
  top: 0%; /* Position the navbar at the top of the page */
  width: 100%;
  height:18%;
}
nav{
	top:50%;
    position:absolute;
    width:100%;
}
ul{
	float:left;
	position: relative;
	list-style-type: none;
	margin-top: 40px;
}
ul li{
	display:inline-block;
	margin-left: 12px;
}
ul li a{
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	border: 1px solid #fff;
}
.DCS{
    width:100%;
}
	 .bg{
	background: url(../wallpaper.jpg) no-repeat center fixed;
	height: 100vh;
	background-size: cover;
	background-position: center;
}
	.page{
	margin-top: 17.5vh;
	height:fit-content; /* moving all the subjects to stay below the header*/
}
	footer{
	background-color: #333;
	position:absolute;
	bottom:0;
	width:100%;
}
}
.loginpage /* transparent background form */
{
	width: 320px;
	height: 400px;
	background: rgba(0,0,0,0.5);
	color: #fff;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%,0%);
	box-sizing: border-box;
}
.label
{
	float:left;
	padding-right: 0.5em;
	text-align: right;
	width: 10em;
}